
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layoutstd.cshtml";
}
<br /><br /><br /><br /><br />
<main>
    <p>

        <h5 style="position:center;margin-left:20px">

            TEK-UP is highly committed to the contribution of providing quality and excellence in all academic programs, which focus on developing professional skills and promoting employability. This can be seen in:  Reviewing the academic programs to ensure they are in line with the latest technologies and developments and are accessible to all students, providing high quality academic content and maximizing student potential by creating an environment that is leading to an intellectual and personal growth and emphasize in academic research.

            Our mission is to educate engineers and coach them to innovate and develop new ideas while integrating technology in their projects and curriculum. A deeper understanding of the engineering role will be developed enabling our students to identify today’s world needs and conceiving the best technological solutions.

            To achieve our vision and complete our mission, TEK-UP focuses in mainly three points:

        </h5>



    </p>
    <div>
        <figure class="size-large" style="position:center ; margin-left:300px">
            <img width="600" height="975" src="https://tek-up.de/wp-content/uploads/2022/04/Mission-Vision-TEK-UP-1024x975.jpg"/>
        </figure>
    </div>
</main>