
@{
    ViewBag.Title = "IndexStudent";
    Layout = "~/Views/Shared/_LayoutLOGED.cshtml";
}


<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown"> <span>WELCOME !</span></h2>
                
            </div>

        </div>
    </div>

</section>
